<h1>Edit Task</h1>
<% if @task.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_with(model: @task ,url: project_task_path, method: "put") do |f| %>
    <%= f.hidden_field :project_id, value: @project.id %>
    <p>
        <%= f.label :task %><br>
        <%= f.text_field :task %>
    </p>
    <div >
        <%= f.label :assign_to %>
        <%= f.collection_select :assigned_to_id, @user , :id, :first_name %>
    </div>
    <div >
        <%= f.label :assign_by %>
        <%= f.collection_select :assigned_by_id, @user , :id, :first_name %>
    </div>
    <p>
        <%= f.submit %>
    </p>
<% end %>
