<h1> Tasks </h1>
<table class= "table table-striped table-responsive table-hover">
    <th> Project Name </th>
    <th> Assigned by </th>
    <th> Task </th>
    <th> Assigned to </th>
    <th> Assigned On </th>
    <th><th>
    <% @task.each do |task|%>
        <tr>
            <td><%=task.project.project_name%></td>
            <td><%=task.assigned_by.first_name%></td>
            <td><%=task.task%></td>
            <td><%=task.assigned_to.first_name%></td>
            <td><%=task.created_at.strftime("%d/%m/%y")%></td>
            <td><%= link_to "Edit Task", edit_project_task_path(project_id: task.project.id,id: task.id) %></td>
        </tr>
    <%end%>
</table>
